body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.game-container {
  margin: 80px calc(50% - 200px);
}

.game-title {
  color: DodgerBlue;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

.high-score-container {
  color: white;
  display: none;
  text-align: center;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

html {
  height: 100%;
  width: 100%;
}
